extends layout

block content
	.row
		.columns.large-12
			h1 Turtle Parser
			p.text-small Enter a .ttl or .n3 URL to parse (eg: <code>http://ryac.ca/foaf.ttl</code>)
		.columns.large-12
			.row.collapse
				.columns.small-10.medium-11
					input.field-url(type="text" placeholder="Enter URL")
				.columns.small-2.medium-1
					a.button.postfix(href="#") Parse
		.columns.large-12.result
			.ttl-loading
				img(src="img/ajax-loader.gif")
			table.ttl-result(border="0")
				thead
					tr
						th Subject
						th Predicate
						th Object
				tbody


	script#triple-row(type="text/x-handlebars-template").
		<tr>
			<td>{{subject}}</td>
			<td>{{predicate}}</td>
			<td>{{object}}</td>
		</tr>