/* line 1, ../scss/views/_home.scss */
body {
  background: #FFF;
}

/* line 5, ../scss/views/_home.scss */
.text-small {
  font-size: 14px;
  color: #555;
}

/* line 11, ../scss/views/_home.scss */
.result .ttl-result {
  display: none;
  width: 100%;
}
/* line 15, ../scss/views/_home.scss */
.result .ttl-loading {
  text-align: center;
  display: none;
}
