body {
	background: $color-bg;
}

.text-small {
	font-size: 14px;
	color: #555;
}

.result {
	.ttl-result {
		display: none;
		width: 100%;
	}
	.ttl-loading {
		text-align: center;
		display: none;
	}
}